<div class="container">
  <div class="container_padding">
    <h1>Sign Up!</h1>
    <% if @errors %>
      <%= erb :_errors, locals: {errors: @errors} %>
    <% end %>

    <div id="signup">

      <%= form_for @user do |f|  %>
        <%=     f.text_field     :name, placeholder: "Username" %>
        <%=     f.email_field    :email, placeholder: "Email" %>
        <%=     f.password_field :password, placeholder: "Password" %>
        <%=     f.password_field :password_confirmation, placeholder: "Confirm password" %>
        <%=     f.submit "Sign up!" %>
      <% end %>

    </div>
  </div>
</div>
